.screenContainer {
  width: 100%;
  max-height: 100vh;
  height: calc(100vh - 64px);
  overflow: hidden;
  background-image: url('../../assests/events.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column ;
}

.loginCardConatiner {
  background-color: #332637;
  width: 27%;
  height: 70%;
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column ;
}

.logoImage {
  width: 100%;
  border-radius: 10px;
}

.formConatiner {
  display: flex;
  flex-direction: column;
}

.formField {
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
}
.errorMessage {
  color: red;
  padding: 5px;
  margin-left: 10px;
}

.buttonConatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 10px 0 10px;
}

.loginButtn {
  display: flex;
  flex-direction: row;
}

.signupText {
  color: white;
  margin: 15px;
}

.fabicon {
  background-color: rgb(121, 50, 187) !important;
}

.forgetPasswordText {
  color: white;
  margin: 5px;
  float: right;
  &:hover {
    cursor: pointer;
    color: blueviolet;
  }
}