.grow {
  flex-grow: 1;
}

.navbar {
  background-color: rgb(121, 50, 187) !important;
}

.menuButton {
  margin-right: 2px;
}

.search {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 10px;
  margin-left: 30px;
  width: 20%;
}

.title {
  display: block;
  margin-left: 10px;
  // [theme.breakpoints.up('sm')]: {
  //   display: 'block',
  // },
}

.inputRoot {
  color: inherit;
}

.searchIcon {
  width: 10;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.inputInput {
  padding: 1px 1px 1px 35px;
  width: 100%;
  color: inherit;
  // [theme.breakpoints.up('md')]: {
  //   width: 200,
  // },
}

.inputInput:hover {
  color: white;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sectionDesktop {
  // display: 'none',
  // [theme.breakpoints.up('md')]: {
  //   display: 'flex',
  // },
  display: flex,
}

.sectionMobile {
  // display: 'flex',
  // [theme.breakpoints.up('md')]: {
  //   display: 'none',
  // },
  display: none,
}

.eventsTab {
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 20px;
}

.eventsTab:hover {
  cursor: pointer;
}